body:has(.home) {
    background: rgb(41,77,74);
    overflow: hidden;
}

body:has(.cooking) {
    background-color: #f5f0e8;
}

body:has(.movement) {
    background-color: #e8f0e8;
}

body:has(.home-videos) {
    background-color: #000;
}

.page-content {
    width:100%;
    height: 100%;
}

.wrapper {
    width: 100%;
    height: 100%;
}