---
layout: base
---

<div class="home">
  <div class="left-greeting">
    <div class="greeting-icons">
      <p> Icons go here</p>
    </div>
    <h1 class="site-title"> {{ site.title }}</h1>
    <p class="site-description"> {{site.description}} </p>

  </div>
  <div class="right-navbar">
    <a class="navlink" href="/dance">Dance</a>
    <a class="navlink" href="/cooking">Cooking</a>
    <a class="navlink" href="/art">Art</a>
    <a class="navlink" href="/gym">Gym</a>
    <a class="navlink" href ="/videography">Videography</a>
  </div>
</div>
