---
layout: base
---

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;1,400&family=Playfair+Display:ital,wght@1,400&display=swap" rel="stylesheet">

<div class="home">
  <div class="left-greeting">
    <h1 class="site-title"> {{ site.title }}</h1>
    <p class="site-description"> {{site.description}} </p>
  </div>

  <div class="right-navbar">
    <a class="navlink" href="/movement">movement</a>
    <a class="navlink" href="/cooking">food</a>
    <a class="navlink" href="/home-videos">home videos</a>
  </div>
</div>
